* {
  box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, figure, figcaption {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

@font-face {
  font-family: "CircularStdBook";
  src: url("../../fonts/CircularStdBook/CircularStdBook.ttf");
}
*::-webkit-input-placeholder {
  color: #666666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666666;
  opacity: 1;
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

body {
  font-family: "CircularStdBook", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #22252d;
}

a, button {
  cursor: pointer;
  transition: all ease-in 0.2s;
  text-decoration: none;
  outline: none;
}

.img-responsive {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
}

/* ==========  Desktop First Method  ========== */
/* ==========  Mobile First Method  ========== */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 152px;
  height: 58px;
  padding: 0 16px;
  border-radius: 5px;
  outline: none;
  background: #313131;
  font-size: 17px;
  color: #ffffff;
  border: none;
  user-select: none;
}
@media only screen and (max-width: 768px) {
  .button {
    max-width: 122px;
    height: 42px;
  }
}
.button:hover {
  background: rgba(49, 49, 49, 0.9);
}
.button--outlined {
  max-width: 197px;
  border: 1px solid #313131;
  color: #313131;
  background: #ffffff;
}
.button--outlined:hover {
  color: #ffffff;
}
@media only screen and (max-width: 992px) {
  .button--outlined {
    max-width: 142px;
  }
}
@media only screen and (max-width: 768px) {
  .button--outlined {
    max-width: 122px;
    height: 42px;
  }
}
.button--text {
  border: none;
  color: #313131;
  background: #ffffff;
}
.button--text:hover {
  background: #ffffff;
}
.button__text {
  border-bottom: 1px solid transparent;
}
.button__text:hover {
  border-bottom: 1px solid #313131;
}
.button--up {
  font-size: 20px;
  font-weight: 700;
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 10px;
  color: #fff;
  background-color: #FFE600;
  position: fixed;
  right: 20px;
  bottom: 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
}
.button--up--visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1.2s;
}
.button--up:hover {
  background-color: #fff;
  border: 1px solid #FFE600;
  box-shadow: 0px 0px 15px #FFE600;
  color: #FFE600;
  transition: 0.8s;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.form .input {
  width: 320px;
  padding-left: 15px;
  height: 58px;
  outline: none;
  border-radius: 5px 0 0 5px;
  justify-content: flex-start;
}
@media only screen and (max-width: 876px) {
  .form .input {
    width: 280px;
  }
}
@media only screen and (max-width: 808px) {
  .form .input {
    width: 260px;
    padding-left: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .form .input {
    height: 42px;
  }
}
@media only screen and (max-width: 417px) {
  .form .input {
    width: 160px;
  }
  .form .input::placeholder {
    font-size: 10px;
  }
}
.form .button--form {
  border-radius: 0 5px 5px 0;
}
.form--line {
  margin-bottom: 180px;
}
@media only screen and (max-width: 934px) {
  .form--line {
    margin-bottom: 120px;
  }
}
.form--line .button--outlined:hover {
  border: 1px solid #E0E0E0;
}
.form__input--line {
  padding-left: 15px;
  width: 50%;
  height: 54px;
  max-width: 420px;
  margin-right: 20px;
  background-color: #313131;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  outline: none;
  color: #E0E0E0;
}
@media only screen and (max-width: 768px) {
  .form__input--line {
    height: 42px;
    max-width: 320px;
  }
}
@media only screen and (max-width: 422px) {
  .form__input--line {
    margin-right: 10px;
  }
}
.form__input--line:focus {
  color: #E0E0E0;
}
.form__input--line .placeholder {
  color: #E0E0E0;
}
.form .form-label {
  position: absolute;
  top: 68px;
  color: rgba(0, 128, 0, 0.8);
}
.form .form-label--invalid {
  color: rgba(255, 65, 65, 0.8);
}
@media only screen and (max-width: 582px) {
  .form .form-label {
    top: 48px;
  }
}

.header__nav {
  margin-left: auto;
}
@media only screen and (max-width: 1200px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(49, 49, 49, 0.3);
    transition: left 0.4s ease 0s;
  }
  .header__nav--active {
    left: 0;
    z-index: 10;
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  .header__nav-list {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    height: 100%;
    width: 236px;
    background-color: #fff;
  }
}
.header__nav-list .nav__link {
  font-size: 18px;
  color: #313131;
  border-bottom: 1px solid transparent;
  margin-right: 100px;
}
@media only screen and (max-width: 1200px) {
  .header__nav-list .nav__link {
    margin-right: 0;
    display: block;
    padding: 20px 0 20px 20px;
    width: 236px;
  }
}
.header__nav-list .nav__link:hover {
  border-bottom: 1px solid #313131;
}

.nav-icon {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 36px;
    height: 36px;
    z-index: 20;
    cursor: pointer;
  }
}
@media only screen and (max-width: 468px) {
  .nav-icon {
    width: 28px;
    height: 28px;
  }
}
.nav-icon--active .nav-icon__line {
  display: block;
  height: 3px;
  width: 100%;
  background-color: transparent;
  transition: all 0.4s ease;
}
.nav-icon--active .nav-icon__line::before, .nav-icon--active .nav-icon__line::after {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  background-color: #313131;
  transition: all 0.4s ease;
}
.nav-icon--active .nav-icon__line::before {
  transform: rotate(45deg);
}
.nav-icon--active .nav-icon__line::after {
  transform: rotate(-45deg);
}
.nav-icon__line {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #313131;
  transition: all 0.4s ease;
}
.nav-icon__line::before, .nav-icon__line::after {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  background-color: #313131;
  transition: all 0.4s ease;
}
.nav-icon__line::before {
  transform: translateY(-10px);
}
.nav-icon__line::after {
  transform: translateY(10px);
}

.section__title {
  font-weight: 400;
  font-size: 65px;
  line-height: 1.3;
  margin-bottom: 32px;
  color: #313131;
}
@media only screen and (max-width: 992px) {
  .section__title {
    font-size: 42px;
    margin-bottom: 28px;
  }
}
@media only screen and (max-width: 768px) {
  .section__title {
    font-size: 38px;
    text-align: center;
  }
}

.sub__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 30px;
  color: #313131;
}
@media only screen and (max-width: 992px) {
  .sub__title {
    font-size: 18px;
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .sub__title {
    text-align: center;
  }
}

.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 32px;
  color: #313131;
}
@media only screen and (max-width: 992px) {
  .description {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.form-title {
  font-weight: 400;
  font-size: 34px;
  line-height: 1.3;
  margin-bottom: 18px;
  color: #313131;
}

.header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid transparent;
  z-index: 2;
  background-color: #fff;
}
.header--line {
  border-bottom: 1px solid rgba(31, 31, 31, 0.3);
}
.header .container {
  margin: 0px auto;
  width: 96%;
  max-width: 1240px;
}

.header__content {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  .header__content {
    justify-content: space-between;
  }
}
.header__content .header__logo {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.6;
  color: #313131;
}
@media only screen and (max-width: 1200px) {
  .header__content .header__logo {
    padding-left: 100px;
  }
}
@media only screen and (max-width: 468px) {
  .header__content .header__logo {
    font-size: 22px;
    padding-left: 50px;
  }
}

.header__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 236px;
}

.section-hero {
  overflow: hidden;
}

.hero__content {
  display: flex;
  margin-bottom: 120px;
}
@media only screen and (max-width: 768px) {
  .hero__content {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .hero__title-wrapper {
    margin-top: 16px;
  }
}
.hero__title-wrapper .hero__title {
  margin-bottom: 36px;
  position: relative;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.hero__title-wrapper .hero__title--active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.hero__title-text {
  font-weight: bold;
  font-size: 100px;
  line-height: 80px;
}
@media only screen and (max-width: 992px) {
  .hero__title-text {
    font-size: 80px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__title-text {
    font-size: 110px;
    line-height: 0.9;
  }
}
@media only screen and (max-width: 627px) {
  .hero__title-text {
    font-size: 80px;
    line-height: 0.8;
  }
}
@media only screen and (max-width: 368px) {
  .hero__title-text {
    font-size: 58px;
    line-height: 0.8;
  }
}
.hero__title-text--second-line {
  margin-left: 68px;
}
@media only screen and (max-width: 368px) {
  .hero__title-text--second-line {
    margin-left: 34px;
  }
}

.hero__title__img {
  position: absolute;
  z-index: -1;
  bottom: 5px;
  left: 3px;
}
@media only screen and (max-width: 992px) {
  .hero__title__img {
    width: 82px;
    height: auto;
    bottom: 10px;
    left: 2px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__title__img {
    width: 100px;
    height: auto;
    bottom: 14px;
    left: 2px;
  }
}
@media only screen and (max-width: 627px) {
  .hero__title__img {
    width: 80px;
    height: auto;
    bottom: 2px;
    left: 2px;
  }
}
@media only screen and (max-width: 368px) {
  .hero__title__img {
    width: 48px;
    height: auto;
    bottom: 3px;
    left: 2px;
  }
}

.hero__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .hero__description {
    width: 100%;
    align-items: center;
  }
}

.hero__img {
  position: relative;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .hero__img {
    width: 80%;
    overflow: hidden;
  }
}
.hero__img img {
  width: 100%;
  height: auto;
}
.hero__img .svg-line {
  position: absolute;
  top: 112px;
  left: -380px;
  z-index: -1;
  opacity: 0;
  transition: opacity 1.2s ease;
}
.hero__img .svg-line--active {
  opacity: 1;
}
@media only screen and (max-width: 1252px) {
  .hero__img .svg-line {
    width: 45vw;
    height: auto;
    top: 90px;
    left: -330px;
  }
}
@media only screen and (max-width: 1088px) {
  .hero__img .svg-line {
    top: 30px;
    left: -280px;
  }
}
@media only screen and (max-width: 820px) {
  .hero__img .svg-line {
    top: 10px;
    left: -240px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__img .svg-line {
    display: none;
  }
}
.hero__img .svg-line--secondary {
  position: absolute;
  top: 0;
  left: 300px;
  z-index: -1;
}
@media only screen and (max-width: 1252px) {
  .hero__img .svg-line--secondary {
    width: 45vw;
    height: auto;
    top: -80px;
    left: 180px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__img .svg-line--secondary {
    display: none;
  }
}

#line {
  stroke-dasharray: 540px;
  stroke-dashoffset: 540px;
  animation: DrawLine 4s ease-in reverse;
}

#line-secondary {
  stroke-dasharray: 540px;
  stroke-dashoffset: 540px;
  animation: DrawLine 4s ease-in reverse;
}

@keyframes DrawLine {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 540px;
  }
}
.partners__content {
  min-height: 160px;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .partners__content {
    flex-direction: column;
  }
}

.partners__description {
  width: 50%;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .partners__description {
    width: 100%;
  }
  .partners__description .section__title {
    text-align: center;
  }
  .partners__description .description {
    text-align: center;
  }
}

.logo__container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
  .logo__container {
    width: 100%;
  }
}

.partner__logo {
  width: calc(50% - 40px);
  height: 108px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}
@media only screen and (max-width: 992px) {
  .partner__logo {
    height: 68px;
  }
}
@media only screen and (max-width: 448px) {
  .partner__logo {
    height: 48px;
  }
}
.partner__logo img {
  width: 100%;
  height: auto;
}

.section-about__title {
  max-width: 491px;
  margin-bottom: 72px;
  position: relative;
  /*&::before{
      content: url(../../img/dots.svg);
      position: absolute;
      top: -232px;
      left: -158px;
      overflow-x: hidden;
  } */
}
@media only screen and (max-width: 768px) {
  .section-about__title {
    max-width: 100%;
    margin-top: 80px;
  }
}
.section-about__item {
  width: calc( 50% - 42px );
}

.section-about__wrapper {
  background: url(../img/about_background.png) no-repeat;
  background-position: 0 80px;
  background-size: 80% 100%;
}
.section-about__wrapper .section-about__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 768px) {
  .section-about__wrapper .section-about__content {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .section-about__item {
    width: 90%;
  }
}
.section-about__item:nth-child(1) {
  padding-top: 180px;
}
@media only screen and (max-width: 768px) {
  .section-about__item:nth-child(1) {
    padding-top: 60px;
  }
}
.section-about__item:nth-child(1) .description {
  margin-bottom: 140px;
}
@media only screen and (max-width: 768px) {
  .section-about__item:nth-child(1) .description {
    margin-bottom: 40px;
  }
}

.section-about__img-wrapper {
  position: relative;
  margin-bottom: 90px;
}
.section-about__img-wrapper .img-about {
  width: 100%;
  height: auto;
}
.section-about__img-wrapper .img-about-border1 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 20px;
  left: 20px;
}
.section-about__img-wrapper .img-about-border2 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 20px;
  right: 20px;
}

.section-work__items {
  display: flex;
  padding: 140px 0;
  position: relative;
  /*&::before{
      content: url(../../img/dots.svg);
      position: absolute;
      top: -84px;
      left: -158px;
      overflow-x: hidden;
  }    
  &::after{
      content: url(../../img/dots.svg);
      position: absolute;
      bottom: -84px;
      right: -158px;
      overflow-x: hidden;
  } */
}
@media only screen and (max-width: 964px) {
  .section-work__items {
    flex-direction: column;
    padding: 112px 0;
  }
}

.section-work__item {
  width: 50%;
}
@media only screen and (max-width: 964px) {
  .section-work__item {
    width: 100%;
  }
  .section-work__item .section__title {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .section-work__item .description {
    text-align: center;
  }
}

.section-work__buttons {
  display: flex;
}
@media only screen and (max-width: 964px) {
  .section-work__buttons {
    justify-content: center;
    margin-top: 32px;
  }
}
.section-work__buttons .button {
  min-width: 196px;
  margin-right: 30px;
}
@media only screen and (max-width: 964px) {
  .section-work__buttons .button {
    margin: 0 16px;
  }
}
@media only screen and (max-width: 466px) {
  .section-work__buttons .button {
    min-width: 132px;
    margin: 0 8px;
  }
}

.line {
  margin: 0 40px;
  width: 1px;
  background-color: #E0E0E0;
}
@media only screen and (max-width: 964px) {
  .line {
    margin: 48px 0;
    height: 1px;
    width: 100%;
  }
}

.accordion-item {
  border-radius: 10px;
}
@media only screen and (max-width: 964px) {
  .accordion-item {
    width: 90%;
    margin: auto;
  }
}
.accordion-item--active {
  margin-bottom: 15px;
  box-shadow: 0px 0px 30px #e9e9e9;
}

.accordion-item__header {
  font-size: 18px;
  font-weight: 700;
  padding-top: 36px;
  padding-bottom: 47px;
  margin-left: 32px;
  color: #313131;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}
@media only screen and (max-width: 442px) {
  .accordion-item__header {
    font-size: 16px;
    margin-left: 10px;
  }
}
.accordion-item__header::after {
  content: url("../img/accordion_open_btn.svg");
  position: absolute;
  right: 32px;
}
@media only screen and (max-width: 442px) {
  .accordion-item__header::after {
    right: 12px;
  }
}
.accordion-item__header--active::after {
  content: url("../img/accordion_close_btn.svg");
  position: absolute;
  right: 32px;
}
@media only screen and (max-width: 442px) {
  .accordion-item__header--active::after {
    right: 12px;
  }
}

.accordion-item__content {
  font-size: 18px;
  font-weight: 400;
  color: #5F5F5F;
  margin: 0 32px;
  padding-bottom: 47px;
  max-width: 382px;
  display: none;
}
.accordion-item__content--active {
  display: block;
}
@media only screen and (max-width: 964px) {
  .accordion-item__content {
    max-width: 100%;
  }
}
@media only screen and (max-width: 442px) {
  .accordion-item__content {
    font-size: 16px;
    margin: 0 10px;
  }
}

/*.accordion-btn-toggle{
    margin-right: 32px;
    width: 30px;
    height: 30px; 
    border: none;
    border-radius: 50%;
    cursor: pointer;

    background-color: transparent;
    background-image: url('../img/accordion_open_btn.svg'); 
    background-repeat: no-repeat;
    background-position: center;

    &--active{
        background-image: url('../img/accordion_close_btn.svg');
    }
}  */
.section-blog {
  margin-bottom: 140px;
}

.blog__title {
  max-width: 662px;
  padding-bottom: 90px;
}
@media only screen and (max-width: 964px) {
  .blog__title {
    margin: auto;
  }
  .blog__title .section__title {
    text-align: center;
  }
}

.blog__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .blog__content {
    flex-direction: column;
  }
}
.blog__content .card {
  width: calc(50% - 12px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 30px #e9e9e9;
}
@media only screen and (max-width: 768px) {
  .blog__content .card {
    width: 80%;
  }
  .blog__content .card:first-child {
    margin-bottom: 140px;
  }
}
@media only screen and (max-width: 554px) {
  .blog__content .card {
    width: 90%;
  }
}
.blog__content .card__img {
  margin: -30px 30px 0 30px;
}
.blog__content .card__img img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 490px) {
  .blog__content .card__img {
    margin: -30px 15px 0 15px;
  }
}
.blog__content .card__label {
  width: 100%;
  max-width: 456px;
  height: 58px;
  padding: 38px 30px 60px 30px;
}
@media only screen and (max-width: 768px) {
  .blog__content .card__label {
    height: 38px;
  }
}
@media only screen and (max-width: 490px) {
  .blog__content .card__label {
    padding: 28px 15px 40px 15px;
  }
}
.blog__content .card__label-text {
  font-weight: 400;
  font-size: 18px;
  color: #FF5F5F;
}
.blog__content .card__text {
  width: 100%;
  max-width: 456px;
  padding: 0 30px 193px 30px;
}
@media only screen and (max-width: 992px) {
  .blog__content .card__text {
    padding-bottom: 120px;
  }
}
@media only screen and (max-width: 768px) {
  .blog__content .card__text {
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 490px) {
  .blog__content .card__text {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.blog__content .card__promo {
  position: absolute;
  bottom: -60px;
  max-width: 456px;
  padding: 30px;
  margin: 0 30px;
  background-color: #EEF7FB;
}
@media only screen and (max-width: 490px) {
  .blog__content .card__promo {
    padding: 15px;
    margin: 0 15px;
  }
}

.faq-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq-title .section__title {
  text-align: center;
  margin-bottom: 32px;
}
.faq-title .description {
  width: 100%;
  max-width: 720px;
  text-align: center;
}

.faq-content {
  min-height: 570px;
  display: flex;
  align-items: center;
  background-color: #fffab452;
}

.faq__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .faq__items {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
}

.faq__item {
  width: calc( 50% - 15px);
  min-height: 181px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 30px #e9e9e9;
  margin-bottom: 30px;
  padding: 0 30px;
}
@media only screen and (max-width: 768px) {
  .faq__item {
    width: 88%;
  }
}
.faq__item .sub__title {
  margin-top: 25px;
}
.faq__item .description {
  font-size: 18px;
}

.testimonials__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials__title .section__title {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 42px;
}
.testimonials__title .description {
  width: 100%;
  max-width: 720px;
  text-align: center;
}

.testimonials__content {
  display: flex;
  margin-bottom: 48px;
}
@media only screen and (max-width: 768px) {
  .testimonials__content {
    flex-direction: column-reverse;
  }
}
.testimonials__content .testimonials__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}
@media only screen and (max-width: 768px) {
  .testimonials__content .testimonials__description {
    height: 420px;
    width: 100%;
  }
}
.testimonials__content .testimonials__description .description {
  font-size: 18px;
}
.testimonials__content .testimonials__description .rating__stars {
  margin-bottom: 40px;
}
.testimonials__content .testimonials__description .rating__autur {
  font-weight: 700;
  margin-bottom: 5px;
}
.testimonials__content .testimonials__description .autor__status {
  color: #B8B8B8;
}
.testimonials__content .testimonials__img {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .testimonials__content .testimonials__img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.testimonials__content .testimonials__img img {
  width: 100%;
  max-width: 468px;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .testimonials__content .testimonials__img img {
    width: 50%;
  }
}

.slider-buttons {
  display: flex;
  justify-content: start;
}
@media only screen and (max-width: 768px) {
  .slider-buttons {
    justify-content: center;
  }
}

.slider-button {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  background-color: #EEF7FB;
}
.slider-button--active {
  background-color: #313131;
}

.slider {
  max-height: 420px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 28px;
}
.slider .slider__content {
  position: relative;
  height: 100%;
}
.slider .slider__content .slider__item {
  position: absolute;
  opacity: 0;
}
.slider .slider__content .slider__item .block__title {
  font-size: 34px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .slider .slider__content .slider__item .block__title {
    text-align: center;
  }
}
.slider .slider__content .slider__item .description-slider {
  height: 150px;
  overflow: hidden;
}
.slider .slider__content .slider__item--active {
  opacity: 1;
}

.footer {
  background-color: #313131;
}

.footer__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__header .section__title {
  padding-top: 88px;
  padding-bottom: 62px;
  text-align: center;
  color: #fff;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 934px) {
  .footer__content {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 934px) {
  .footer__logo {
    display: flex;
    margin-top: 28px;
  }
}
@media only screen and (max-width: 768px) {
  .footer__logo {
    flex-direction: column;
  }
}
.footer__logo-title {
  font-size: 22px;
  color: #fff;
  margin-bottom: 28px;
  margin-right: 86px;
}
.footer__logo-subtitle {
  width: 192px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.footer__link {
  width: 622px;
  height: 194px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .footer__link {
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
}
.footer__link li {
  display: block;
  color: #fff;
  margin-bottom: 22px;
  color: #fff;
}
.footer__link li:hover {
  opacity: 0.6;
}
.footer__link li a {
  color: #fff;
}

.nav__tile {
  font-size: 20px;
  color: #fff;
  margin-bottom: 28px;
}

.copyright__content {
  text-align: center;
  margin-top: 73px;
  padding-bottom: 24px;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .footer__nav,
.company-info__link,
.comapany-contacts__link {
    width: 50%;
    margin-bottom: 30px;
  }
}
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -100%;
  height: 100%;
  width: 100%;
  background-color: rgba(49, 49, 49, 0.3);
  transition: top 0.4s ease-in 0s;
}
.popup--active {
  top: 0;
  z-index: 10;
}
.popup__content {
  width: 80%;
  max-width: 460px;
  background-color: #ffff;
  border-radius: 5px;
}

.form-popup {
  display: none;
  flex-direction: column;
  position: relative;
  padding: 18px;
}
.form-popup--active {
  display: flex;
}

.form__input-wrapper .input {
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  padding-left: 12px;
}
.form__input-wrapper .input--text {
  min-height: 120px;
}

.popup-btn-close {
  width: 22px;
  height: 22px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #313131;
  border-radius: 50%;
  background-color: #ffff;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
.popup-btn-close img {
  width: 100%;
  height: auto;
  transform: rotate(45deg);
}

.form-text {
  margin-top: 16px;
}

.modal-contact {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background-color: rgba(124, 108, 108, 0.3);
  transition: left 0.4s ease 0s;
}
.modal-contact--active {
  left: 0;
  z-index: 10;
}
.modal-contact__content {
  width: 100%;
  background-color: #ffff;
  display: flex;
  justify-content: center;
}

.form-popup__contact {
  width: 95%;
  max-width: 460px;
  position: relative;
  padding: 18px;
}

.modal-btn-close {
  width: 22px;
  height: 22px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #313131;
  border-radius: 50%;
  background-color: #ffff;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
.modal-btn-close img {
  width: 100%;
  height: auto;
  transform: rotate(45deg);
}/*# sourceMappingURL=style.css.map */