$button-height: 58px;
$button-padding: 0 16px;
$button-border-radius: 5px;
$button-default-color: #313131;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 152px;
  height: $button-height;
  padding: $button-padding;
  border-radius: $button-border-radius;
  outline: none;
  background: $button-default-color;
  font-size: 17px;
  color: #ffffff;
  border: none;
  user-select: none;
  

  @include respond-to(sm){
    max-width: 122px;
    height: 42px;
  }
  &:hover {
    background: rgba($button-default-color, 0.9);
  }
  &--outlined {
    max-width: 197px;
    border: 1px solid $button-default-color;
    color: $button-default-color;
    background: #ffffff;
    &:hover{
      color: #ffffff;
    }

    @include respond-to(md){
      max-width: 142px;
    }
    @include respond-to(sm){
      max-width: 122px;
      height: 42px;
    }
  }
  &--text {
    border: none;
    color:$button-default-color;
    background: #ffffff;

    &:hover {
      background: #ffffff;
    }
  } 
  
  &__text{
    border-bottom: 1px solid transparent;

    &:hover{
      border-bottom: 1px solid $button-default-color;
    }
  } 

  &--up{
    font-size: 20px;
    font-weight: 700;
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 10px;
    color: #fff;
    background-color: #FFE600;
    position: fixed;
    right: 20px;
    bottom: 20px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 1s;

    &--visible{
      visibility: visible;
      opacity: 1;
      transition: opacity 1.2s;
    }

    &:hover{
      background-color: #fff;
      border: 1px solid #FFE600;
      box-shadow: 0px 0px 15px  #FFE600;
      color: #FFE600;
      transition: 0.8s; 
    }
  }
}