.form{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    .input {
        width: 320px;
        padding-left: 15px;
        height: 58px;
        outline: none; 
        border-radius: 5px 0 0 5px; 
        justify-content: flex-start; 
        
        @include respond-to(876px){
            width: 280px;
        }
        @include respond-to(808px){
            width: 260px;
            padding-left: 5px;
        }
        @include respond-to(sm){
            height: 42px;
        }
        @include respond-to(417px){
            width: 160px;

            &::placeholder{
                font-size: 10px;
            }
        }
        
    }
    .button--form{
        border-radius: 0 5px 5px 0;
    }
    &--line{
        margin-bottom: 180px;

        @include respond-to(934px){
            margin-bottom: 120px;
        }
        
        .button--outlined{
            &:hover{
                border: 1px solid #E0E0E0;
            }
        }
    }
    &__input--line{
        padding-left: 15px;
        width: 50%;
        height: 54px;
        max-width: 420px; 
        margin-right: 20px;
        background-color: #313131;
        border: none;
        border-bottom: 1px solid #E0E0E0;
        outline: none;
        color: #E0E0E0;

        @include respond-to(sm){
            height: 42px;
            max-width: 320px;
        }
        @include respond-to(422px){
            margin-right: 10px;
        }

        &:focus{
             color: #E0E0E0;
        }
        .placeholder{
            color: #E0E0E0;  
        }
    }
    
    .form-label{
        position: absolute;
        top: 68px;
        color: rgba(0, 128, 0, .8);
        &--invalid{
            color: rgba(255, 65, 65, .8);
        }
        @include respond-to(582px){
            top: 48px;
        }
    }
}  

