$nav-default-color: #313131;

.header__nav{
    margin-left: auto;

    @include respond-to(lg){
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%; 
        background-color: rgba(49, 49, 49, .3);
        transition: left 0.4s ease 0s;

        &--active{
            left: 0;
            z-index: 10;
        }
    }
    
    &-list{
        display: flex;
        align-items: center;
        
        @include respond-to(lg){
            flex-direction: column;
            align-items: flex-start;
            padding-top: 60px;
            height: 100%;
            width: 236px;
            background-color: #fff;
            
        }
        .nav__link{
            font-size: 18px;
            color: $nav-default-color;
            border-bottom: 1px solid transparent;
            margin-right: 100px;

            @include respond-to(lg){
              margin-right: 0; 
              display: block;
              padding: 20px 0 20px 20px;
              width: 236px;
            }

            &:hover{
                border-bottom: 1px solid $nav-default-color;
            }
            
        }
    }
    
} 
.nav-icon{                
    display: none;
    
    @include respond-to(lg){
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 20px;
        left: 20px; 
        width: 36px;
        height: 36px;
        z-index: 20; 
        cursor: pointer;   
    }

    @include respond-to(468px){
        width: 28px;
        height: 28px;
    }
    &--active{
        .nav-icon__line{
            display: block;
            height: 3px;
            width: 100%;
            background-color: transparent;
            transition: all .4s ease;

            &::before,
            &::after{
                content: '';
                position: absolute;
                display: block;
                height: 3px;
                width: 100%;
                background-color: $nav-default-color;
                transition: all .4s ease;
                
            }
            &::before{
                transform: rotate(45deg) 
            }
            &::after{
                transform: rotate(-45deg) 
            }
        }
    }
    &__line{
        display: block;
        height: 3px;
        width: 100%;
        background-color: $nav-default-color;
        transition: all .4s ease;
        
        &::before,
        &::after{
            content: '';
            position: absolute;
            display: block;
            height: 3px;
            width: 100%;
            background-color: $nav-default-color;
            transition: all .4s ease;
            
        }
        &::before{
            transform: translateY(-10px)
        }
        &::after{
            transform: translateY(+10px)
        }
    } 
} 




