$text-default-color: #313131;

.section__title{
    font-weight: 400;
    font-size: 65px;
    line-height: 1.3;
    margin-bottom: 32px;
    color: $text-default-color;

    @include respond-to(md){
        font-size: 42px;
        margin-bottom: 28px;
    }
    @include respond-to(sm){
        font-size: 38px;
        text-align: center;    
    }
   
}
.sub__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 30px;
    color: $text-default-color;

    @include respond-to(md){
        font-size: 18px;
        margin-bottom: 24px;
    }
    @include respond-to(sm){
        text-align: center;
    }
}
.description {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 32px;
    color: $text-default-color;

    @include respond-to(md){
        font-size: 16px;
        margin-bottom: 20px;
    }
}
.form-title{
    font-weight: 400;
    font-size: 34px;
    line-height: 1.3;
    margin-bottom: 18px;
    color: $text-default-color;
}
    