 .section-about{    
    &__title{
        max-width: 491px;
        margin-bottom: 72px;
        position: relative;

        @include respond-to(sm){
            max-width: 100%; 
            margin-top: 80px;  
        }   
    
        /*&::before{
            content: url(../../img/dots.svg);
            position: absolute;
            top: -232px;
            left: -158px;
            overflow-x: hidden;
        } */ 
    }    
    &__item {  
        width: calc( 50% - 42px );         
    }    
}
.section-about__wrapper{
    background: url(../img/about_background.png) no-repeat ;
    background-position: 0 80px;
    background-size: 80% 100%;
    
    .section-about__content{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;

        @include respond-to(sm){
            flex-direction: column-reverse;
            align-items: center;
        }
    } 
} 

.section-about__item{

    @include respond-to(sm){
        width: 90%;    
    }

    &:nth-child(1){ 
        padding-top: 180px;

        @include respond-to(sm){
            padding-top: 60px;  
        }

        .description{
            margin-bottom: 140px;

            @include respond-to(sm){
                margin-bottom: 40px;
            }
        } 
    }
}

.section-about__img-wrapper{
    position: relative;
    margin-bottom: 90px;
    
    .img-about{
        width: 100%;
        height: auto;
    }
    .img-about-border1{
        width: 100%;
        height: auto;
        position: absolute;
        top: 20px ;
        left: 20px;
    }
    .img-about-border2{
        width: 100%;
        height: auto;
        position: absolute;
        top: 20px; 
        right: 20px; 
    }   
}