.section-blog{
    margin-bottom: 140px;

}
.blog__title{
   max-width: 662px;
   padding-bottom: 90px;

    @include respond-to(964px){
        margin: auto;
        .section__title{
            text-align: center;
        }
    }
}
.blog__content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to(sm){
        flex-direction: column;
    }
    .card{
        width: calc(50% - 12px); 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        box-shadow: 0px 0px 30px #e9e9e9;
        
        @include respond-to(sm){
            width: 80%;
            &:first-child{
                margin-bottom: 140px;
            }
        }
        @include respond-to(554px){
            width: 90%;
        }

        &__img{
            margin: -30px 30px 0 30px;
         
            img{
                width: 100%;
                height: auto;
            }

            @include respond-to(490px){
                margin: -30px 15px 0 15px;
            }
        }
        &__label{
            width: 100%;
            max-width: 456px;
            height: 58px;
            padding: 38px 30px 60px 30px;

            @include respond-to(sm){
                height: 38px;
            }
            @include respond-to(490px){
                padding: 28px 15px 40px 15px;
            }
        
            &-text{
                font-weight: 400;
                font-size: 18px;
                color: #FF5F5F;
            }
        }
        &__text{
            width: 100%;
            max-width: 456px;
            padding: 0 30px 193px 30px;

            @include respond-to(md){
                padding-bottom: 120px;
            }
            @include respond-to(sm){
                padding-bottom: 80px;
            }
            @include respond-to(490px){
                padding-left: 15px;
                padding-right: 15px;
            }
            
            
        }
        &__promo{
            position: absolute;
            bottom: -60px; 
            max-width: 456px;
            padding: 30px;
            margin: 0 30px;
            background-color: #EEF7FB;

            @include respond-to(490px){
                padding: 15px;
                margin: 0 15px;
            }
        }           
    }   
}