.faq-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .section__title{
        text-align: center;
        margin-bottom: 32px;
    }    
    .description{
        width: 100%;
        max-width: 720px;
        text-align: center; 
    }      

}
.faq-content{
    min-height: 570px;
    display: flex;
    align-items: center;
    background-color: #fffab452;

}   

.faq__items{
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;

    @include respond-to(sm){
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        
    }
}    
.faq__item{
    width: calc( 50% - 15px);
    min-height: 181px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #e9e9e9;
    margin-bottom: 30px;
    padding: 0 30px;

    @include respond-to(sm){
        width: 88%;
    }

    .sub__title{
        margin-top: 25px;
       
    }    
    .description{
        
        font-size: 18px;   
    }
}  

