.footer{
    background-color: #313131; 
}
.footer__header{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section__title{
        padding-top: 88px;
        padding-bottom: 62px; 
        text-align: center;  
        color: #fff;
    }    
}  
        
.footer__content{
    display: flex;
    justify-content: space-between;

    @include respond-to(934px){
        flex-direction: column-reverse;
    }
}
.footer__logo{

    @include respond-to(934px){
        display: flex;
        margin-top: 28px;
    }
    @include respond-to(sm){
        flex-direction: column;
    }

    &-title{
    font-size: 22px;
    color: #fff;
    margin-bottom: 28px;
    margin-right: 86px;
    }
    &-subtitle{
        width: 192px;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
    }
}

.footer__link{
    width: 622px;  
    height: 194px; 
    display: flex; 
    justify-content: space-between;

    @include respond-to(sm){
        flex-wrap: wrap;
        width: 100%;  
        height: auto;
    }

    li{   
        display: block;
        color: #fff;
        margin-bottom: 22px;
        color: #fff;

        &:hover{
            opacity: .6;
        }
        a{
            color: #fff;
        } 
    }
}          
.nav__tile{
    font-size: 20px;
    color: #fff;
    margin-bottom: 28px;
}
.copyright__content{
    text-align: center;
    margin-top: 73px;
    padding-bottom: 24px;  
    color:#fff;   
}    

@include respond-to(sm){
    .footer__nav,
    .company-info__link,
    .comapany-contacts__link{
        width: 50%;
        margin-bottom: 30px;
    }
}