.header {
    position: sticky;
    top:0;
    border-bottom: 1px solid transparent;
    z-index: 2;
    background-color: #fff;
    &--line{
        border-bottom: 1px solid rgba(31, 31,31, 0.3 );
    }    
    .container{
        margin: 0px auto;
        width: 96%;
        max-width: 1240px;
    } 
}
.header__content{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to(1200px){
        justify-content: space-between;
    }

    .header__logo{
        font-weight: 700;
        font-size: 32px;
        line-height: 1.6;
        color: #313131;

        @include respond-to(1200px){
            padding-left: 100px;
        }
        @include respond-to(468px){
            font-size: 22px;
            padding-left: 50px;
        }
    } 
}       
        
.header__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 236px;
}