.section-hero{
    overflow: hidden;
}
.hero__content{
    display: flex;
    margin-bottom: 120px;

    @include respond-to(sm){
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 80px;
    }
}
.hero__title-wrapper{
    //height: 196px;
    @include respond-to(sm){
        margin-top: 16px;
    }
    @include respond-to(368px){
        //height: 100px;
    }

    .hero__title{
        margin-bottom: 36px;
        position: relative;
        transform: translate(0px, 120%);
        opacity: 0;
        transition: all .8s ease 0s;
        &--active{
            transform: translate(0px, 0px);
            opacity: 1; 
        }
    }
}
.hero__title-text{
    font-weight: bold;
    font-size: 100px;
    line-height: 80px;

    @include respond-to(md){
        font-size: 80px;
    }
    @include respond-to(sm){
        font-size: 110px;
        line-height: 0.9;
    }
    @include respond-to(627px){
        font-size: 80px;
        line-height: 0.8;
    }
    @include respond-to(368px){
        font-size: 58px;
        line-height: 0.8;
    }

    &--second-line{
        margin-left: 68px ;

        @include respond-to(368px){
           margin-left: 34px;
        }
    }
}
.hero__title__img{ 
    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: 3px; 

    @include respond-to(md){
        width: 82px;
        height: auto;
        bottom: 10px;
        left: 2px;
    }
    @include respond-to(sm){
        width: 100px;
        height: auto;
        bottom: 14px;
        left: 2px;
    }
    @include respond-to(627px){
        width: 80px;
        height: auto;
        bottom: 2px;
        left: 2px;
    }
    @include respond-to(368px){
        width: 48px;
        height: auto;
        bottom: 3px;
        left: 2px;
     }

}        
.hero__description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include respond-to(sm){
        width: 100%;
        align-items: center;
    }
}

.hero__img{
    position: relative;
    width: 50%;

    @include respond-to(sm){
        width: 80%;
        overflow: hidden;
    }
    img{
        width: 100%;
        height: auto;
    }
    
    .svg-line{
        position: absolute;
        top: 112px;
        left: -380px;
        z-index: -1;
        opacity: 0;
        transition: opacity 1.2s ease;

        &--active{
            opacity: 1;
        }

        @include respond-to(1252px){
            width: 45vw;
            height: auto;
            top: 90px;
            left: -330px;   
        }
        @include respond-to(1088px){
            top: 30px;
            left: -280px;   
        }
        @include respond-to(820px){
            top: 10px;
            left: -240px;   
        }
        @include respond-to(sm){
            display: none; 
        }


        &--secondary{
            position: absolute;
            top: 0;
            left: 300px;
            z-index: -1;

            @include respond-to(1252px){
                width: 45vw;
                height: auto;
                top: -80px;
                left: 180px;   
            }
            @include respond-to(sm){
                display: none; 
            }
        }
    }
}
#line{
    stroke-dasharray: 540px;
    stroke-dashoffset: 540px;
    animation: DrawLine 4s ease-in reverse; 
}
#line-secondary{
    stroke-dasharray: 540px;
    stroke-dashoffset: 540px;
    animation: DrawLine 4s ease-in reverse; 
} 

@keyframes DrawLine {
    from {
        stroke-dashoffset: 0; 
    }
    to {
        stroke-dashoffset: 540px;
    }
}


  