.modal-contact{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(124, 108, 108, 0.3);
    transition: left 0.4s ease 0s;

    &--active{
        left: 0;
        z-index: 10;
    }
    &__content{
        width: 100%;
        background-color: #ffff;
        display: flex;
        justify-content: center;
    }
}
.form-popup__contact{
    width: 95%;
    max-width: 460px;;
    position: relative;
    padding: 18px;
}
.modal-btn-close{
    width: 22px;
    height: 22px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #313131;;
    border-radius: 50%;
    background-color: #ffff;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;

    img{
        width: 100%;
        height: auto;
        transform: rotate(45deg);
    }
}
