.partners__content{
    min-height: 160px;
    display: flex;

    @include respond-to(sm){
        flex-direction: column;
    }
} 
.partners__description{
    width: 50%;
    height: 100%;

    @include respond-to(sm){
        width: 100%;
        .section__title{
            text-align: center;
        }
        .description{
            text-align: center;
        }
    }
}
.logo__container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    @include respond-to(sm){
        width: 100%; 
    }
}       
.partner__logo{
    width: calc(50% - 40px);
    height: 108px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #e9e9e9;
    display: flex;
    justify-content: center ;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;

    @include respond-to(md){
        height: 68px;
    }
    @include respond-to(448px){
        height: 48px;
    }
   
    img{
        width: 100%;
        height: auto;
    }
}
