.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(49, 49, 49, .3);
    transition: top 0.4s ease-in 0s;

    &--active{
        top: 0;
        z-index: 10;
    }

    &__content{
        width: 80%;
        max-width: 460px;
        background-color: #ffff;
        border-radius: 5px;
    }

}
.form-popup{
    display: none;
    flex-direction: column;
    position: relative;
    padding: 18px;

    &--active{
        display: flex;
    }
}
.form__input-wrapper{
    
    .input{
        width: 100%;
        height: 48px;
        margin-bottom: 16px;
        padding-left: 12px;

        &--text{
            min-height: 120px;
        }
    }
}
.popup-btn-close{
    width: 22px;
    height: 22px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #313131;;
    border-radius: 50%;
    background-color: #ffff;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;

    img{
        width: 100%;
        height: auto;
        transform: rotate(45deg);
    }
}
.form-text{
    margin-top: 16px;
}