.testimonials__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .section__title{
        text-align: center;
        margin-top: 48px;
        margin-bottom: 42px;
    }    
    .description{
        width: 100%;
        max-width: 720px;
        text-align: center;  
    }
}    
.testimonials__content{
    display: flex;
    margin-bottom: 48px;

    @include respond-to(sm){
        flex-direction: column-reverse;
    }

    .testimonials__description{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 50px;

        @include respond-to(sm){
            height: 420px;
            width: 100%;
        }
        
        .description{ 
            font-size: 18px; 
        }
        
        .rating__stars{
            margin-bottom: 40px;
        }
        .rating__autur{
            font-weight: 700;
            margin-bottom: 5px;
        }
        .autor__status{
            color: #B8B8B8;
        }
    }   
    .testimonials__img{ 
        width: 50%; 

        @include respond-to(sm){
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
        img{
            width: 100%;
            max-width: 468px;
            height: auto;

            @include respond-to(sm){
                width: 50%;
            }
        }
    }
}
.slider-buttons{
    display: flex;
    justify-content: start; 

    @include respond-to(sm){
        justify-content: center;
    }
}       
.slider-button{
    width: 12px;
    height: 12px;
    margin: 0 5px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
    background-color: #EEF7FB;

    &--active{
        background-color: #313131;   
    }
}
.slider{
    max-height: 420px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 28px;
      
    .slider__content{
        position: relative;
        height: 100%;
    
        .slider__item{
            position: absolute;    
            opacity: 0;

            .block__title{
                font-size: 34px;
                margin-bottom: 20px;

                @include respond-to(sm){
                    text-align: center;
                }
            }
            .description-slider{
                height: 150px;
                overflow: hidden;    
            }

            &--active{
            opacity: 1;
            }
        }
    }
} 