.section-work__items{
    display: flex;
    padding: 140px 0;
    position: relative;

    @include respond-to(964px){
        flex-direction: column;
        padding: 112px 0;
    }
    /*&::before{
        content: url(../../img/dots.svg);
        position: absolute;
        top: -84px;
        left: -158px;
        overflow-x: hidden;
    }    
    &::after{
        content: url(../../img/dots.svg);
        position: absolute;
        bottom: -84px;
        right: -158px;
        overflow-x: hidden;
    } */ 
}                 
    
.section-work__item{
    width: 50%; 

    @include respond-to(964px){
       width: 100%;
       .section__title{
           text-align: center;
       }
    }
    @include respond-to(sm){
        .description{
            text-align: center;
        }
    }
    
}    

.section-work__buttons{
    display:flex;
    
    @include respond-to(964px){
        justify-content: center;
        margin-top: 32px;
    }

    
    .button{
        min-width: 196px;
        margin-right: 30px;

        @include respond-to(964px){
            margin: 0 16px;
        }
        @include respond-to(466px){
            min-width: 132px;
            margin: 0 8px;
        }
    }
}    
.line{
    margin: 0 40px; 
    width: 1px;
    background-color: #E0E0E0; 

    @include respond-to(964px){
        margin: 48px 0;
        height: 1px;
        width: 100%;
    }
}

.accordion-item{
    border-radius: 10px;

    @include respond-to(964px){
        width: 90%;
        margin: auto;
    }

    &--active{
        margin-bottom: 15px;
        box-shadow: 0px 0px 30px #e9e9e9;
    }
}
.accordion-item__header{
    font-size: 18px;
    font-weight: 700;
    padding-top: 36px;
    padding-bottom: 47px;
    margin-left: 32px;
    color: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;

    @include respond-to(442px){
        font-size: 16px;
        margin-left: 10px;
    }
    
    &::after{
        content: url('../img/accordion_open_btn.svg');
        position: absolute;
        right: 32px;
        @include respond-to(442px){
            right: 12px;
        }
    }
    &--active::after{
        content: url('../img/accordion_close_btn.svg');
        position: absolute;
        right: 32px;
        @include respond-to(442px){
            right: 12px;
        }
    }

}
.accordion-item__content{
    font-size: 18px;
    font-weight: 400;
    color: #5F5F5F;
    margin: 0 32px;
    padding-bottom: 47px;
    max-width: 382px;
    display: none;

    &--active{
        display: block;

    }
    @include respond-to(964px){
        max-width: 100%;
    }
    @include respond-to(442px){
        font-size: 16px;
        margin: 0 10px;
    }
}    

/*.accordion-btn-toggle{
    margin-right: 32px;
    width: 30px;
    height: 30px; 
    border: none;
    border-radius: 50%;
    cursor: pointer;
   
    background-color: transparent;
    background-image: url('../img/accordion_open_btn.svg'); 
    background-repeat: no-repeat;
    background-position: center;

    &--active{
        background-image: url('../img/accordion_close_btn.svg');
    }
}  */     